@font-face {
  font-family: 'futuraMedium';
  src: url('/app/assets/fonts/futuraMedium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuraStdBook';
  src: url('/app/assets/fonts/futuraStdBook.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}